@model CRUDOperationUsingWebApi.Models.tbl_User_Info

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>tbl_User_Info</h4>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Edit</th>
                <th>Delete</th>
                <th>Firsname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Salary</th>
                <th>City</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody id="tblUser"></tbody>
    </table>
    <input type="hidden" id="id" />
    <input type="text" id="firstname" placeholder="firstname" />
    <input type="text" id="lastname" placeholder="lastname" />
    <input type="text" id="email" placeholder="email" />
    <input type="text" id="mobile" placeholder="mobile" />
    <input type="text" id="salary" placeholder="salary" />
    <input type="text" id="city" placeholder="city" />
    <input type="button" id="Save" value="Save" />
    <input type="button" id="Update" value="Update" />
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        var id = $("#id").val();
        if (id == null)
            $("#Update").hide();
        $.getJSON("/api/tbl_User_Info/", function (data) {
            $.each(data, function (key, val) {
                $("<tr><td><input type='button' value=" + val.id + " onclick='edit(" + val.id + ")'</td><td><input type='button' value=" + val.id + " onclick='deleteRecord(" + val.id + ")'</td><td>" + val.firstname + "</td><td>" + val.lastname + "</td><td>" + val.email + "</td>)<td>" + val.mobile + "</td><td>" + val.salary + "</td><td>" + val.city + "</td></tr>").appendTo("#tblUser");
            })
        });

    });
    function edit(id) {
        $.ajax({
            url: "/api/tbl_User_Info/" + id,
            type: "get",
            data: {},
            datatype: "json",
            contentType: "application/json",
            success: function (data) {
                $("#id").val(data.id);
                $("#firstname").val(data.firstname);
                $("#lastname").val(data.lastname);
                $("#email").val(data.email);
                $("#mobile").val(data.mobile);
                $("#salary").val(data.salary);
                $("#city").val(data.city);


                var id = $("#id").val();

                if (id != null && id != "") {
                    $("#Save").hide();
                } else {
                    $("#Update").show();
                }
            }

        });
    }
    $("#Save").click(function () {
        $.ajax({
            url: "/api/tbl_User_Info",
            type: "post",
            data: JSON.stringify({
                firstname: $("#firstname").val(),
                lastname: $("#lastname").val(),
                email: $("#email").val(),
                mobile: $("#mobile").val(),
                salary: $("#salary").val(),
                city: $("#city").val(),
            }),
            datatype: "json",
            contentType: "application/json",
            success: function (data) {
                alert("record saved");
                location.reload();
            }

        });
    });
    $("#Update").click(function () {
        var id = $("#id").val();
        $.ajax({
            url: "/api/tbl_User_Info/" + id,
            type: "put",
            data: JSON.stringify({
                id: $("#id").val(),
                firstname: $("#firstname").val(),
                lastname: $("#lastname").val(),
                email: $("#email").val(),
                mobile: $("#mobile").val(),
                salary: $("#salary").val(),
                city: $("#city").val(),
            }),
            datatype: "json",
            contentType: "application/json",
            success: function (data) {
                alert("record updated");
                location.reload();
            }

        });
    });
    function deleteRecord(id)
    {
        $.ajax({
            url: "api/tbl_User_Info/" + id,
            type: "delete",
            datatype: "json",
            contentType: "application/json",
            data: { id: id },
            success: function (data) {
                alert("record deleted");
                location.reload();
            }
        })
    }
</script>

